@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");* {
   box-sizing: border-box;
   font-family: "Noto Sans KR", "돋움", sans-serif;
 }
 
 html,
 body {
   margin: 0;
   padding: 0;
 }
 
 a {
   text-decoration: none;
 }
 
 .container {
   display: grid;
   grid-template-columns: 1fr min(100%, 1320px) 1fr;
   grid-template-rows: repeat(2, auto);
   grid-gap: 0;
 }
 
 .mainBanner {
   width: 100%;
   height: 280px;
   grid-column: 1/4;
   grid-row: 1/2;
   background: url("./img/banner.jpg") no-repeat center/cover;
   margin-bottom: 30px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }
 
 .mainBanner .text {
   font-size: 48px;
   text-align: center;
   color: #ffffff;
   animation: mainBannerText 1.2s ease-in-out;
   text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
 }
 
 @keyframes mainBannerText {
   from {
     transform: translateY(30px);
     opacity: 0;
     text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
   }
   to {
     transform: translateY(0);
     opacity: 1;
     text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
   }
 }
 
 .wrapper {
   grid-column: 2/3;
   grid-row: 2/3;
   display: grid;
   grid-template-columns: 170px 1fr;
 }
 
 .mainMenu {
   background: orange;
   border-radius: 5px;
   padding: 10px 15px;
 }
 
 .mainMenu ul {
   padding: 0;
   display: block;
 }
 
 .mainMenu ul li {
   list-style: none;
   display: block;
 }
 
 .mainMenu ul li a {
   display: block;
   padding: 10px;
   color: white;
   border-radius: 20px;
   transition: all 0.3s ease-in-out;
 }
 
 .writeBtnBox {
   margin-top: 10px;
 }
 
 .writeBtn {
   width: 100%;
   background: #000000;
   border: 1px solid #000000;
   color: #ffffff;
   padding: 10px 20px;
   text-align: left;
   font-size: 16px;
   transition: all 0.3s ease-in-out;
   cursor: pointer;
 }
 
 .writeBtn .arrow {
   display: inline-block;
   padding-left: 10px;
   transition: all 0.3s ease-in-out;
 }
 
 .writeBtn:hover {
   background: #ffffff;
   color: #333333;
 }
 
 .writeBtn:hover .arrow {
   transform: translateX(50px);
 }
 
 .mainMenu {
   background: orange;
   border-radius: 5px;
   padding: 10px 15px;
 }
 
 .itemWrap {
   padding: 0 10px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(4, 1fr);
   grid-gap: 7px;
 }
 
 .item {
   aspect-ratio: 8 / 7;
   position: relative;
   border-radius: 5px;
   border: 1px solid #dddddd;
   overflow: hidden;
 }
 
 .item .imgBox {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   z-index: 1;
   transition: all 0.4s ease-in-out;
 }
 
 .item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 0.4s ease-in-out;
 }
 
 .textBox {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   padding: 20px 25px;
   z-index: 3;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   overflow: hidden;
 }
 
 .textBox p {
   margin: 5px 0 0;
   color: #ffffff;
 }
 
 .textBox__name {
   font-size: 22px;
   font-weight: 500;
   transform: translateY(50px);
   opacity: 0;
   transition: all 0.4s ease-in-out;
 }
 
 .textBox__price {
   font-size: 16px;
   font-weight: 400;
   text-indent: 2px;
   transform: translateY(50px);
   opacity: 0;
   transition: all 0.4s ease-in-out 0.1s;
 }
 
 .item:after {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   opacity: 0;
   transition: opacity 0.4s ease-in-out;
 }
 
 @media screen and (min-width: 1024px) {
   .mainMenu ul li a:hover {
     padding-left: 20px;
     background: rgb(255, 145, 0);
   }
 
   .item:hover:after {
     opacity: 1;
   }
 
   .item:hover .imgBox img {
     transform: scale(1.1);
     filter: blur(3px);
   }
 
   .item:hover .textBox__name {
     opacity: 1;
     transform: translateY(0);
   }
 
   .item:hover .textBox__price {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 @media screen and (max-width: 767px) {
   .container {
     grid-template-rows: repeat(3, auto);
   }
 
   .mainBanner {
     height: 160px;
     margin-bottom: 0;
   }
 
   .mainBanner .text {
     font-size: 26px;
   }
 
   .wrapper {
     grid-template-columns: 1fr;
     grid-template-rows: repeat(2, auto);
     padding: 0;
   }
 
   .sidebar {
     width: 100%;
   }
 
   .mainMenu {
     padding: 0;
     border-radius: 0;
   }
 
   .mainMenu ul {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 0;
   }
 
   .mainMenu ul li a {
     font-size: 14px;
     padding: 12px 10px;
   }
 
   .writeBtnBox {
     display: none;
   }
 
   .itemWrap {
     width: 100%;
     margin: 12px 0;
     padding: 0 10px;
     grid-template-columns: 1fr;
     grid-auto-rows: auto;
   }
 
   .item {
     /* width: calc(50% - 7px); */
     aspect-ratio: unset;
     height: auto;
     overflow: hidden;
     border: 1px solid #dddddd;
     background: white;
   }
 
   .item .imgBox {
     width: 100%;
     height: auto;
     aspect-ratio: 6/5;
   }
 
   .item:after {
     display: none;
   }
 
   .item .textBox {
     width: 100%;
     height: auto;
     position: relative;
     padding: 5px 15px 12px;
   }
 
   .item .textBox p {
     color: black;
   }
 
   .textBox__name {
     font-size: 18px;
     opacity: 1;
     transform: translateY(0);
   }
 
   .textBox__price {
     font-size: 12px;
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 @media screen and (min-width: 768px) and (max-width: 1023px) {
   .sidebar {
     padding-left: 10px;
   }
   .itemWrap {
     padding: 0 10px;
     grid-template-columns: repeat(2, 1fr);
     grid-auto-rows: auto;
   }
   .item {
     /* width: calc(50% - 7px); */
     aspect-ratio: unset;
     height: auto;
     overflow: hidden;
     border: 1px solid #dddddd;
   }
 
   .item .imgBox {
     height: auto;
     aspect-ratio: 6/5;
   }
 
   .item:after {
     display: none;
   }
 
   .item .textBox {
     width: 100%;
     height: auto;
     position: relative;
     padding: 5px 15px 12px;
   }
 
   .textBox p {
     color: black;
   }
 
   .textBox__name {
     font-size: 18px;
     opacity: 1;
     transform: translateY(0);
   }
 
   .textBox__price {
     font-size: 12px;
     opacity: 1;
     transform: translateY(0);
   }
 }